<br/>

<form style="margin-left: 15px;" class="row">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por Nome">
    </div>

    <div class="form-group col-md-2">
        <button type="button" (click)="consultarUser()" class="btn btn-primary mb-2">Buscar</button>
        <button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;" class="btn btn-success mb-2">Novo</button>
    </div>
</form>

<br/>
<br/>

<table style="margin-left: 15px;" class="table">
    <thead class="thread-dark">
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Deletar</th>
        <th scope="col">Editar</th>
    </thead>

    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.nome}}</td>
            <td><button (click)="deleteUsuario(student.id)" class="btn btn-primary">Delete</button></td>
            <td><button [routerLink]="['/usuarioAdd', student.id]" routerLinkActive="router-link-active" class="btn btn-warning">Editar</button></td>
        </tr>
    </tbody>
</table>